<div class="catalog-filters">
    <label>Prix min </label><input style="width: 50px" [(ngModel)]="min"/> €<br/>
    <label>Prix max </label><input style="width: 50px" [(ngModel)]="max"/> €<br/>
    <label>Nom de l'auteur compris entre </label><input style="width: 20px" [(ngModel)]="firstLetter"/><label> et </label><input style="width: 20px" [(ngModel)]="secondLetter"/><br/>
</div>
<br/>
<div class="catalog-content">
  <app-book *ngFor="let book of books | range:min:max | author:firstLetter:secondLetter"
            [book]="book"
            (onCart)="cartHandler($event)"></app-book>
</div>
