.app-title-back {
    background-color: #333333;
    display: flex;
    align-items: center;
    height: 50px;
}

.app-title-text {
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: larger;
    margin: auto;
}
