<div class="cart">
    <table>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th></th>
        </tr>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.htPrice}} € HT</td>
            <td>
                <button (click)="removeFromCart(book)">X</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Total HT:</td>
            <td>{{htTotal}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total TTC:</td>
            <td>{{ttcTotal}}</td>
        </tr>
    </table>
    <button (click)="clickHandler()">OK</button>
</div>
